



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



  
     




.main{
       
        padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pag1{


}

nav a{
    color: black;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 25pt;
    position: relative;
    
}
nav{
    
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

nav a::after{
    content: " ";
    width: 0%;
    height: 5px;
    background-color: black;
    position: absolute;
   bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}

nav a:hover::after{
    width: 100%;
}

.link{
    display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 400px;
}
.logo{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 400px;
        text-align: justify;
        
        
}
.logo h1{
    font-family: "Ephesis", cursive;
    font-weight: 400;
        font-style: normal;
        font-size: 50px;
        padding: 20px;

      
}
.logo p{
    font-family: "Ephesis", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        align-items: center;
        display: flex;
        padding: 40px;
      
}
.img {
    width: 30%;
        display: flex;
        justify-content: right;
       
        height: 10%;
}

.img2 {
    width: 30%;
    display: flex;
    justify-content: right;
    transform: rotate(180deg);
    height: 10%;


}
.img3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -400px;
    
       

}

.flores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sec{
    
margin-top: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;


}
.sec h1{
    justify-content: center;
    font-size: 40px;
}

body{
    
}

#teste{
    width: 300px;
    height: 300px;
    background-image: url(../img/noivos-lindos-em-um-casamento-na-praia.jpg);
    background-size: cover;
}

#teste:hover{
    transform: scale(1.05);

}